<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/header.html')%>
    <title><%=title%></title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="item-bar item-white title"><h1>Leather</h1></div>
            
                <div class="item-bar rigth-bar">
                    <nav>
                        <a class="links links-scale item-white" href="/index">Home</a>
                        <a class="links links-scale item-white" href="/index">About</a>
                        <a class="links links-scale item-white" href="/index">Target</a>
                    </nav>
                </div>
        </div>
    </header>
    <div class="page">
        <div class="item-white general-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maxime laudantium officia, aliquam in ipsa iure placeat deleniti dicta incidunt voluptate eos sit eius voluptatem vel temporibus dignissimos blanditiis saepe odio reiciendis sunt dolore error! Voluptatem laboriosam sit eveniet blanditiis obcaecati impedit earum odit consequatur similique tempora esse neque, molestiae illum nam nihil id quasi, adipisci asperiores quo corporis placeat? Rerum nulla delectus sapiente, quisquam harum sed enim quia explicabo ducimus accusamus corrupti ut eveniet sequi quibusdam, eligendi dolor minima similique architecto at dolore voluptates praesentium officia quam. Atque velit neque nemo vitae fugiat sapiente laborum ipsum expedita animi deserunt!
            </p>
        </div>
    </div>
    
</body>
</html>